{% extends 'base.html.twig' %}
{% block content %}
<div id="content">
    <div id="content-inner">
    
        <main id="contentbar">
            <div class="article">
                <p><script>generateText(12)</script></p>
            </div>
        </main>
        
        <nav id="sidebar">
            <div class="widget">
                <h3>Les sujets</h3>
                <ul>
                <li><a href="#">Sujet 1</a></li>
                <li><a href="#">Sujet 2</a></li>
                <li><a href="#">Sujet 3</a></li>
                <li><a href="#">Sujet 4</a></li>
                <li><a href="#">Sujet 5</a></li>
                </ul>
            </div>
        </nav>
        
        <div class="clr"></div>
    </div>
</div>
{% endblock %}